In [1]:
#Q1. Create one variable containing following type of data:
#1.string
str1="myname"
#2.list
lst=[1,2,3,4]
#3.float
var3=32.34
#4.tuple
mytuple=("vik","bits","app")
print(type(str1))
print(type(lst))
print(type(var3))
print(type(mytuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [2]:
#Q2. Given are some following variables containing data:
var1 = ' '
print(type(var1))
var2 = '[ DS , ML , Python]'
print(type(var2))
var3= [ 'DS', 'ML' , 'Python' ]
print(type(var3))
var4=1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

 #### Q3. Explain the use of the following operators using an example:

#### (i) /
Above operator is used to divide two numbers

In [3]:
#Example
10/2

5.0

#### (ii) %
Above operator is used to get the remainder of the divison of two numbers.

In [4]:
#Example
a=10%3
a

1

#### (iii) //
Above operator is used to divide two numbers but only return th integer part.

In [5]:
#example
a=10//3
a

3

#### (iv) **
Above operator is used to perform exponential function of two numbers

In [6]:
#Example
a=2
b=3
a**b
#which is same as 2*2*2

8

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [7]:
lst1=["apple","mobile",4,5,7,24.56,3+3j,"utkarsh",34.2,(3,2,4)]
for i in lst1:
    print(i,type(i))

apple <class 'str'>
mobile <class 'str'>
4 <class 'int'>
5 <class 'int'>
7 <class 'int'>
24.56 <class 'float'>
(3+3j) <class 'complex'>
utkarsh <class 'str'>
34.2 <class 'float'>
(3, 2, 4) <class 'tuple'>

#### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [8]:
a=int(input())
b=int(input())
count=0
while(a%b==0):
    count+=1
    a//=b
print(f"a can purely divide b {count} times.")

100
5
a can purely divide b 2 times.

#### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [9]:
lst2=[32,10,4,5,25,42,100,50,20,27,9,30,45,12,33,2000,250,48,90,69,11,67,72,49,88]
for i in lst2:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

32 is not divisible by 3
10 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3
25 is not divisible by 3
42 is divisible by 3
100 is not divisible by 3
50 is not divisible by 3
20 is not divisible by 3
27 is divisible by 3
9 is divisible by 3
30 is divisible by 3
45 is divisible by 3
12 is divisible by 3
33 is divisible by 3
2000 is not divisible by 3
250 is not divisible by 3
48 is divisible by 3
90 is divisible by 3
69 is divisible by 3
11 is not divisible by 3
67 is not divisible by 3
72 is divisible by 3
49 is not divisible by 3
88 is not divisible by 3

#### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Immutable data types are those data types in which we cannot make changes to it values after creation.On the other hand, mutable data types are those whose values can be changed after they are created. String is a immutable type of data type and list is a mutable data type.

In [10]:
#Example
string1="utkarsh"
string1[0]="j"
#It will give error on running as we cannot change its value

TypeError: 'str' object does not support item assignment

In [11]:
#
lst3=[3,7,6]
lst3[0]=2
lst3
#Value at index 0 will be changed as list is a mutable data type

[2, 7, 6]