#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

1. atabase is a system for storing the data in the organized form. It also includes managing and accessing it in various ways.
2.  stands for structured query language.These are the relational databases that store data in tables with predefined schemas.They use SQL as the standard language for managing and querying data.
3. NoSql (Not only sql) databases are the non-relational databases that store data in flexible ,schema-less formats like key-value,documents,graphs,or columnar structures.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints.

1.Create: The create statement is used to create a new database or table.for example ,to create a table named 'student' with columns for 'id','name',and 'email',we can use the following SQL statement.
  CREATE TABLE student (
    id INT,
    name VARCHAR(50),
    email VARCHAR(100)
);

2.Drop: The drop statement is used to delete database tables permanently.
For example,to drop the "student" table we can use the following statement:
 DROP table students;

3.Alter: The ALTER statement is used to modify the structure of an existing database object.It allows you to add, modify, or delete columns.
For example, to add a new column named "age" to the "student" table, you can use the following SQL statement:
 ALTER TABLE student
 ADD COLUMN age INT;

4.Truncate:The TRUNCATE statement is used to remove all data from a table while keeping its structure intact.For example, to remove all data from the "student" table, you can use the following SQL statement:
 TRUNCATE TABLE student;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL used to manipulate and retrieve data from a database. DML statements are used to insert, update, and delete data within tables.

1. INSERT: The INSERT statement is used to add new rows of data into a table. For example, to insert a new record into the "student" table with values for the "id", "name", and "email" columns, you can use the following SQL statement:

   ```sql
   INSERT INTO student (id, name, email)
   VALUES (1, 'John Doe', 'john@example.com');

UPDATE: The UPDATE statement is used to modify existing data in a table. It allows you to change the values of specific columns for one or more rows. For example, to update the email of a student with the ID 1, you can use the following SQL statement:
 
UPDATE student
SET email = 'newemail@example.com'
WHERE id = 1;

DELETE: The DELETE statement is used to remove one or more rows from a table. It allows you to specify conditions to identify the rows to be deleted. For example, to delete a student with the ID 1 from the "student" table, you can use the following SQL statement:

DELETE FROM student
WHERE id = 1;

#### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL used to query or filter data according to the specified condition.
For example if we want to get just the email of the student where id=1 of table student, then we can write the following query:
   SELECT email 
   from student
   where id=1;

#### Q5. Explain Primary Key and Foreign Key.

A Primary Key is a column or a set of columns in a table that uniquely identifies each row in the table. It ensures that the values in the primary key column(s) are unique and not null.

A Foreign Key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables by enforcing referential integrity.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="7354"
)
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE if not exists test2.test_table(c1 INT, c2 VARCHAR(50),c3 FLOAT, c4 INT,c5 VARCHAR(30))")
mydb.close()

The cursor() method creates a cursor object that allows you to execute SQL queries and fetch the results. The execute() method is used to execute SQL statements or queries. It takes the SQL statement as a parameter and executes it.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM: This clause specifies the table or tables from which the data is retrieved.
2. WHERE: This clause filters the data based on specified conditions.
3. GROUP BY: This clause groups the data based on specified columns.
4. HAVING: This clause filters the grouped data based on specified conditions.
5. SELECT: This clause selects the desired columns from the resulting data.
6. ORDER BY: This clause sorts the resulting data based on specified columns.
7. LIMIT: This clause limits the number of rows returned by the query.