#### Q1. What is data encoding? How is it useful in data science?

Data Encoding is a technique in ML to change a categorical feature into a numerical feature. It is useful method as ML algorithm only uses numerical features to train a model.

#### Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Nominal Encoding is a type of data encoding technique which is used when there is a intrinsic ordering into numerical values that can be used in the ML model.

import seaborn as sns

In [11]:
import pandas as pd

In [3]:
df=sns.load_dataset('tips')

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [6]:
encoder=OneHotEncoder()

In [9]:
encoded=encoder.fit_transform(df[['sex','smoker']]).toarray()

In [12]:
encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [13]:
encoded_df

     sex_Female  sex_Male  smoker_No  smoker_Yes
0           1.0       0.0        1.0         0.0
1           0.0       1.0        1.0         0.0
2           0.0       1.0        1.0         0.0
3           0.0       1.0        1.0         0.0
4           1.0       0.0        1.0         0.0
..          ...       ...        ...         ...
239         0.0       1.0        1.0         0.0
240         1.0       0.0        0.0         1.0
241         0.0       1.0        0.0         1.0
242         0.0       1.0        1.0         0.0
243         1.0       0.0        1.0         0.0

[244 rows x 4 columns]

In [14]:
new_df=pd.concat([df,encoded_df],axis=1)

In [15]:
new_df.head()

,total_bill,tip,sex,smoker,day,time,size,sex_Female,sex_Male,smoker_No,smoker_Yes
0,16.99,1.01,Female,No,Sun,Dinner,2,1.0,0.0,1.0,0.0
1,10.34,1.66,Male,No,Sun,Dinner,3,0.0,1.0,1.0,0.0
2,21.01,3.50,Male,No,Sun,Dinner,3,0.0,1.0,1.0,0.0
3,23.68,3.31,Male,No,Sun,Dinner,2,0.0,1.0,1.0,0.0
4,24.59,3.61,Female,No,Sun,Dinner,4,1.0,0.0,1.0,0.0

#### Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Nominal encoding and one-hot encoding are both techniques used in data preprocessing, specifically when dealing with categorical variables. They serve different purposes based on the characteristics of the data and the goals of the analysis. Let's delve into the situations where nominal encoding is preferred over one-hot encoding and provide a practical example to illustrate the difference.

**Nominal Encoding**:
Nominal encoding involves assigning unique integers to each category or label in a categorical variable. This encoding is useful when there is an inherent ordinal relationship among the categories, meaning that some categories can be ranked or ordered based on their characteristics.

**When to Use Nominal Encoding**:
1. **Ordinality**: When the categorical variable has an inherent order that should be captured, nominal encoding can represent this ordinal relationship more effectively than one-hot encoding.
2. **Reduction of Dimensionality**: Nominal encoding reduces the dimensionality of the data compared to one-hot encoding, which can be beneficial when dealing with large datasets or limited computational resources.
3. **Retaining Information**: If the original categorical variable carries information about the order of categories and that information is relevant to the analysis, nominal encoding preserves this information.

**Practical Example of Nominal Encoding**:
Let's consider a dataset of educational qualifications where the variable "Education_Level" has categories like "High School," "Associate's Degree," "Bachelor's Degree," "Master's Degree," and "Doctorate." These categories exhibit an ordinal relationship based on the increasing level of education. Nominal encoding can be used here to assign unique integers (e.g., 1 to 5) to these categories, capturing their ordinal nature.

**One-Hot Encoding**:
One-hot encoding creates binary columns for each category in a categorical variable. It is commonly used when there is no inherent order among the categories and each category is distinct.

**When to Use One-Hot Encoding**:
1. **Lack of Ordinality**: When there is no meaningful order among the categories, one-hot encoding ensures that no incorrect ordinal relationship is implied.
2. **Model Compatibility**: Many machine learning algorithms, like decision trees and random forests, work well with one-hot encoded data.
3. **Avoiding Bias**: In situations where assigning ordinal values might introduce unintended bias or assumptions, one-hot encoding can maintain neutrality.

**Practical Example of One-Hot Encoding**:
Consider a dataset of customer reviews where the variable "Sentiment" represents the sentiment of the review as "Positive," "Neutral," or "Negative." These categories do not have an inherent order, and using one-hot encoding would create separate binary columns for each sentiment category, ensuring that no unintended ordinality is implied.

In summary, nominal encoding is preferred over one-hot encoding when there's an inherent ordinal relationship among the categories and preserving that order is relevant for analysis. One-hot encoding is used when there's no meaningful order among the categories or when maintaining the distinctiveness of categories is crucial. The choice between these encoding methods depends on the nature of the categorical variable and the goals of the analysis.

#### Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

In this case, since it's mentioned that there are 5 unique values, and assuming that these values are not inherently ordered, one-hot encoding would likely be the preferred choice. One-hot encoding ensures that each category is treated independently and doesn't introduce any unintended ordinality. It also makes the data suitable for various machine learning algorithms that work well with binary-encoded categorical variables, such as decision trees, random forests, and many types of neural networks.

#### Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

If you're using nominal encoding to transform categorical data, you would create new columns equal to the number of unique categories in each categorical column. Since you have two categorical columns, you will need to calculate the number of new columns created for each of them and then sum up those numbers.

Let's say the first categorical column has 7 unique categories, and the second categorical column has 4 unique categories.

For the first categorical column: 7 unique categories
For the second categorical column: 4 unique categories

Number of new columns created for the first categorical column = 7
Number of new columns created for the second categorical column = 4

Total number of new columns created = 7 + 4 = 11

So, if you were to use nominal encoding to transform the categorical data in this machine learning project, you would create a total of 11 new columns.

#### Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

One-hot encoding is suitable for these categorical variables because it preserves the independence and distinctiveness of each category without introducing any unintended ordinal relationships. It ensures that the machine learning algorithm treats each category as a separate entity, which is particularly important when dealing with categorical variables where the order or relationship among categories is not meaningful for the task at hand.

#### Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In this project, we have a dataset with a mix of categorical and numerical features, and we want to predict customer churn for a telecommunications company. Let's go through the steps of how we could transform the categorical data into numerical data using appropriate encoding techniques.

**Features in the Dataset**:
1. Gender (Categorical)
2. Age (Numerical)
3. Contract Type (Categorical)
4. Monthly Charges (Numerical)
5. Tenure (Numerical)

**Step-by-Step Explanation**:

1. **Handling Gender (Categorical)**:
   Since "Gender" is a categorical feature with two distinct values (male/female), you can use **binary encoding** or **label encoding**:
   - **Binary Encoding**: Encode "male" as 0 and "female" as 1.
   - **Label Encoding**: Assign 0 to one gender and 1 to the other gender.

2. **Handling Contract Type (Categorical)**:
   "Contract Type" is a categorical feature with multiple distinct values. we can use **one-hot encoding** to transform it into numerical format:
   - **One-Hot Encoding**: Create separate binary columns for each contract type (e.g., "Month-to-month," "One year," "Two year"). A value of 1 in a column indicates that the customer has that contract type, while other columns have values of 0.

3. **Leaving Numerical Features (Age, Monthly Charges, Tenure)**:
   Since "Age," "Monthly Charges," and "Tenure" are already numerical features, they don't require any further encoding. These features can be used as they are in the analysis.

4. **Finalizing the Transformed Dataset**:
   After applying the appropriate encoding techniques, you will have a transformed dataset where the categorical features are represented in numerical format. The dataset will now consist of both numerical and encoded categorical features.

Remember that the choice of encoding technique may vary based on the machine learning algorithm you plan to use. Some algorithms can handle categorical data directly (e.g., decision trees), while others might require encoded features (e.g., linear regression).

Additionally, when using one-hot encoding, be mindful of potential multicollinearity, where highly correlated one-hot encoded features can affect the model's performance. In such cases, techniques like feature scaling or dimensionality reduction might be considered.

Lastly, evaluate the impact of the chosen encoding techniques on the model's performance using techniques like cross-validation and performance metrics to ensure that the transformations improve the predictive power of the model for customer churn prediction.